.container {
    width: 90%;
    margin: auto;
}

.container div {
    margin-bottom: 2rem;
}

table {
    width: 100%;
}

.full-width {
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.edit {
    color: rgb(51, 88, 156);
}

.delete {
    color: red;
}